{% extends 'base_templete.html' %}
{% block title  %}
    Home
{% endblock %}

{% block add_to_head %}

    <style>
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
   @media only screen and (max-width: 700px) {
       .content {
           display: flex;
           flex-direction: column;
       }
   }
    #controls {
        margin: 1rem 0;
    }
    #lights {
        border: black solid 1px;
        margin: 1rem 0;
        padding: .5rem;
    }
    .gun-buttons {
        margin-bottom: 1rem;
    }
    #up-button {
        grid-area: up;
    }
    #down-button {
        grid-area: down;
    }
    #left-button{
        grid-area: left;
    }
    #right-button {
        grid-area: right;
    }

    #gun-controls {
        display: grid;
        grid-template-areas:
    ". up ."
    "left . right"
    ". down .";
    }
    </style>
{% endblock %}


{% block content %}
    <img src="{% url 'turret:video_feed' %}">
    <div id="controls">

    <div>
        <input type="checkbox" id="manual-controls" name="manual-controls" value="manual_control" checked>
        <label for="manual-controls"> Should enable manual controls</label><br>
    </div>
        <fieldset id="lights">
            <input type="radio" id="red-light-radio" name="lights" value="Red Light" checked>
            <label for="red-light-radio">Red Light</label><br>
            <input type="radio" id="green-light-radio" name="lights" value="Green Light">
            <label for="green-light-radio">Green Light</label><br>
        </fieldset>

        <div id="gun-controls">
            <button class="gun-buttons" id="up-button" type="button">Up</button>
            <button class="gun-buttons" id="left-button" type="button">Left</button>
            <button class="gun-buttons" id="right-button" type="button">Right</button>
            <button class="gun-buttons" id="down-button" type="button">Down</button>
        </div>
        <button class="btn btn-danger btn-block" id="shoot-controls" type="button">Shoot</button>
    </div>
{% endblock %}